style {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(135deg, #0cbff1, #2b2b2b);
    background-size: 200% 200%;
    animation: bgMove 8s ease infinite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* ---------- REGISTER SECTION ---------- */
section{
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

section > div{
    background: rgba(8, 173, 234, 0.06);
    padding: 35px;
    border-radius: 16px;
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(8px);
    animation: fadeIn 0.4s ease;
}

h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 0.7px;
}

/* ---------- FORM ---------- */
form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
    color: #ddd;
    font-size: 15px;
}

input{
    padding: 12px;
    border: 1px solid #444;
    border-radius: 10px;
    background:rgba(8, 173, 234, 0.06);
    color: #fff;
    outline: none;
    transition: .25s;
}

input:focus{
    border-color: #6c5ce7;
    background: rgba(30, 30, 30, 0.8);
    box-shadow: 0 0 10px rgba(108, 92, 231, 0.5);
}
input::placeholder{
    color: #999;
    opacity: 0.6;
}

/* ---------- BUTTON ---------- */
button{
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
     background: linear-gradient(135deg, #dff307, #b3d105);
    color: #111;
    backdrop-filter: blur(4px);
    font-size: 17px;
    cursor: pointer;
    transition: .25s;
}

button:hover{
      background: #7060ff;
    box-shadow: 0 0 12px rgba(112, 96, 255, 0.6);
    transform: translateY(-3px);
}

/* ---------- BOTTOM TEXT ---------- */
span{
    display: block;
    text-align: center;
    margin: 12px 0;
    color: #ccc;
    font-size: 14px;
}

span a{
    color: #52c7ff;
    text-decoration: none;
}

/* ---------- ANIMATION ---------- */
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

